.pessoa {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 250px;
    width: 250px;
    left: 5%;
}

.robot{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 250px;
    width: 250px;
    left: 80%;
}

.pessoa img {
    height: 250px;
    width: 250px;
    border: green 5px solid;
}

.robot img {
    height: 250px;
    width: 250px;   
    border: green 5px solid;
}

.start{
    position: absolute;
    left: 47.5%;
    height: 50px;
    width: 200px;
    top: 2%;
    background-color: green;
    font-size: larger;
    color: white;
    border: rgb(78, 255, 47) 2px solid;

}

